[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
geopy = "*"
bs4 = "*"
numpy = "*"
geopandas = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.8"
